* {
    padding: 3px;
}

body {
    background-color: white;
}

.nav.nav-underline li a {
    color: black;
}

.nav.nav-underline li a:hover {
    color: grey;
}

.glitch-name {
    text-align: center;
    margin-top: 3rem;
    color: #486255;
    font-size: 5rem;
    font-family: "Space Mono", monospace;
}

.fade-in-text {
    opacity: 0; /* Start with transparency */
    transition: opacity 0.5s ease-in-out; /* Smooth transition */
  }
  
  .fade-in-text.is-visible {
    opacity: 1; /* Fully visible */
  }

.row {
    display: flex;
    justify-content: space-evenly;
}

.column {
    flex: 33.3%;
    padding: 1rem;
}

.scroll_img {
    width: 100%;
    opacity: 0;
    transform: translateY(4em) rotateZ(-1deg);
    transition: transform 4s cubic-bezier(0, 1, 0.3, 1), opacity 0.3s ease-out;
    will-change: transform, opacity;
}

.scroll_img.is-visible {
    opacity: 1;
    transform: rotateZ(-2deg);
}

#text{
    text-align: center;
    color: #486255;
    margin-left: 10rem;
    margin-right: 10rem;
}

#text2{
    text-align: center;
    color: #486255;
    margin-left: 10rem;
    margin-right: 10rem;
}

#imgs{
    margin-bottom: 3rem;
}

.load_img{
    opacity: 0;
    transition: 3s;
    width: 400px;
}

.load_img.loaded{
    opacity: 1;
}

.column-2 {
    flex: 50%;
    padding: 1rem;
    text-align: center;
}

.column-1 {
    flex: 100%;
    padding: 1rem;
    text-align: center;
}

.spacer{
    margin-top: 100px;
}

.containers div
{ 
  padding: 20px; 
  margin: 50px 100px;
  color: white;
}

.reveal {
  opacity: 0;
  background-color: #9b003b;
}

button {
    display: inline-block;
    background-color: #486255;
    padding: 20px;
    width: 200px;
    color: #ffffff;
    text-align: center;
    margin-left: calc(50vw - 110px);
  }

  .animated-text {
    font-size: 24px;
    animation: pulse 2s infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 0.8;
    }
    50% {
      transform: scale(1.1);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0.8;
    }
  }

  .column_wide{
    flex: 100%;
    padding: 1rem;
  }

  .aesthetic-text-box {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 40px;
  }